.flex {
    display: flex !important;
    &__col {
        flex-direction: column !important;
    }
    &__wrap {
        flex-wrap: wrap !important;
    }
}

.ai {
    &-center {
        align-items: center !important;
    }
    &-start {
        align-items: flex-start !important;
    }
    &-end {
        align-items: flex-end !important;
    }
}

.jf {
    &-between {
        justify-content: space-between !important;
    }
    &-start {
        justify-content: flex-start !important;
    }
    &-end {
        justify-content: flex-end !important;
    }
    &-center {
        justify-content: center !important;
    }
}
