$Regular: "Nunito-Regular", sans-serif;
$Bold: "Nunito-Bold", sans-serif;

$black: rgba(0, 0, 0, 1); // Чёрный
$white: rgba(255, 255, 255, 1); // Белый
$red: rgba(233, 38, 45, 1); // Красный
$green: rgba(115, 190, 67, 1); // Зелёный
