$Regular: "Roboto-Regular";
$Bold: "FuturaPT-Bold";

$fs10: 10px !important;
$fs12: 12px !important;
$fs14: 14px !important;
$fs16: 16px !important;
$fs18: 18px !important;
$fs20: 20px !important;
$fs22: 22px !important;
$fs24: 24px !important;
$fs26: 26px !important;
$fs30: 30px !important;
$fs32: 32px !important;
$fs38: 38px !important;
$fs40: 40px !important;
$fs50: 50px !important;
$fs56: 56px !important;
$fs80: 80px !important;
$fs88: 88px !important;

//line-height
$lh14: 14px !important;
$lh16: 16px !important;
$lh17: 17px !important;
$lh20: 20px !important;
$lh21: 21px !important;
$lh24: 24px !important;
$lh26: 26px !important;
$lh27: 27px !important;
$lh30: 30px !important;
$lh31: 31px !important;
$lh32: 32px !important;
$lh40: 40px !important;
$lh50: 50px !important;
$lh62: 62px !important;
$lh100: 100px !important;

$lh110: 110% !important;
$lh120: 120% !important;
$lh140: 140% !important;

$black: #000000; // Чёрный
$red: #e03c31;
$red-2: #fd2c52;
$gold: #eaaa00;
$gold-2: #f8d06a;
$torquose: #00b2a9;
$violet: #8031a7;
$violet-light: #d3ccf0;
$pink: #e782a9;
$pink-light: #f9e6f4;
$blue: #407ec9;
$dark-blue: #032b8b;
$black: #292c2e;
$gray: #a9abab;
$light-gray: #f5f5f5;
$white: #ffffff;
$light-torquose: #ccf0ee;
$light-yellow: #fdf7e6;
$light-pink: #f2dee6;
$light-pink-2: #ffd7de;
$light-blue: #ecf3fa;
$light-blue-1: #d9e5f4;
$light-blue-2: #e8ebf6;
$light-green: #e6f5d7;
$light-gold: #ffebb9;
$green: #00b25d;
$green-light: #98bd38;
$berry: #b96887;
$brown: #ad3c00;
