@import "@/scss/resetcss";
@import "@/scss/grid";
@import "@/scss/buttons";
@import "@/scss/menu";
@import "@/scss/scrollbar";
@import "@/scss/webGl";
@import "@/scss/keybord-practice-component";

$Regular: "Nunito-Regular", sans-serif;
$Bold: "Nunito-Bold", sans-serif;

body {
    font-family: $Regular, sans-serif;
    font-size: 16px;

    @media screen and (max-width: 719px) {
        font-size: 12px;
    }
}

.container,
.header__container {
    margin: 0 auto;
    padding: 0 1rem;
    @media screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media screen and (min-width: 768px) {
        max-width: 720px;
        padding: 0;
    }
    @media screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media screen and (min-width: 1400px) {
        max-width: calc(1400px - 80px);
    }
}

hr {
    border: none;
    border-top: solid 1px;
    margin: 0;
    &.hr {
        border-top-color: rgb(209, 209, 209);
        margin-bottom: 1rem;
    }
}
